# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
release
debug
bin
lib
build
test
data
.idea

# MacOS finder files
*.DS_Store

# Eclipse project files
.settings
.cproject
.project

# Picture files
*.oni
*.jpg
*.jpeg
*.png
*.gif
*.pgm

# Video files
*.ts
*.tsx
*.avi
*.mkv
*.mov
*.mp4
*.h264
*.264
*.m3u8
*.wma
*.rm
*.rmvb
*.flv
*.flash
*.3gp
*.ps
*.dat
*.mpg
*.asf
*.asx
*.mpeg
*.mpe
*.m4v
*.vob

# Audio files
*.mp3
*.wav
*.au
*.aiff
*.aac
*.mid
*.midi
*.ogg

# data files
*.dat
*.raw
*.*~
*.zip
*.tar
*.tar.gz
*.db
*.bak
*.db.bak

#test
!mserver/protocols/h264/testdata/test.h264
*.test
